<p-dialog
  [(visible)]="visible"
  [header]="header"
  [modal]="true"
  [closable]="closable"
  [style]="{ width: width }"
  [ngClass]="dialogClass"
  (onHide)="closeDialog()"
>
  <div class="dialog-content">
    <p>{{ message }}</p>
  </div>

  <ng-template pTemplate="footer">
    <button
      pButton
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="closeDialog()"
    ></button>
    <button
      pButton
      label="Confirm"
      icon="pi pi-check"
      class="p-button-danger"
      (click)="onConfirm()"
    ></button>
  </ng-template>
</p-dialog>
