<div class="content-letter-list">

  <!-- Display Content Letters if the mode is ContentOnly or Both -->
  <div *ngIf="currentDisplayMode === 'content-only' || currentDisplayMode === 'Both'">
    <h2>Content Letters</h2>
    <div *ngFor="let letter of contentLetters" class="card">
      <a [routerLink]="['/goodbye-letter/gb-list/content-detail', letter.id]">
        <div class="card-body">
          <h5 class="card-title">{{ letter.subject }}</h5>
        </div>
      </a>
    </div>
  </div>

  <!-- Display Template Letters if the mode is TemplateOnly or Both -->
  <div *ngIf="currentDisplayMode === 'template-only' || currentDisplayMode === 'Both'">
    <h2>Template Letters</h2>
    <div *ngFor="let letter of templateLetters" class="card">
      <a [routerLink]="['/goodbye-letter/gb-list/template-detail', letter.id]">
        <div class="card-body">
          <h5 class="card-title">{{ letter.subject }}</h5>
        </div>
      </a>
    </div>
  </div>

</div>
