<div class="p-grid p-nogutter">
  <!-- Sidebar Section (always visible) -->
  <div class="p-col-fixed sidebar p-shadow-3">
    <div class="p-panel p-panel-custom">
      <app-sidebar></app-sidebar> <!-- The Sidebar component content -->
    </div>
  </div>

  <!-- Main Content Section -->
  <div class="p-col main-content">
    <!-- Add your WelcomeMessageComponent here -->
      <!-- Conditionally render the welcome message if you have a user object -->

    <div class="p-m-3">
        <router-outlet></router-outlet> <!-- Content will change based on route -->

    </div>
  </div>
</div>
