/* You can add global styles to this file, and also import other style files */
@forward './colors.scss';
@use "./colors.scss";
@use './button.scss';
@use './fonts.scss';
@use './p-card.scss';
@use './forms.scss';
@use './toast.scss';
html, body { height: 100%; }
:root {
  --font-family: "Raleway", sans-serif;
}
body {
  padding: 3% 2%;
  margin: 0;
  background-color: colors.$bg-dark; /* Dark background color */
}


.wrapper{
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  margin-top: 50px;
  justify-content:center;
}
.container{
  width:75%;
  max-width: 1200px;
  border: 3px solid colors.$grey-color;
  border-radius:15px;
  padding : 60px;
}

.input-group input {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
  position: relative;
  flex-wrap: wrap;
}
.input-group > label {
  margin-bottom: 0.2rem; /* Add space between label and input */
  font-size: 1.2rem; /* Slightly smaller font for labels */
  font-weight: bold; /* Make labels stand out */
  flex-grow: 1; /* Allow the label to grow and occupy available space */
  width:100%;
  font-weight:500;
  text-transform: lowercase;
}

